# React Native
node_modules/
.expo/
.expo-shared/

# Django
venv/
__pycache__/
*.pyc
backend/staticfiles/

# Environment
.env

# Database
db.sqlite3
*.db
frontend/SolFermeOffline.db
*.sql
*.sql.gz
solferme-backups/

# IDE
.vscode/
.idea/

# Logs
*.log
tsc_output.txt